<!DOCTYPE html>
<html lang="en">
    <head>
        <title>namla - LPR</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body class="bg-red-600">
        <header class="absolute w-screen bg-red-600 text-white text-center">namla.sa</header>
        <div class="bg-white h-screen flex justify-center pt-36 sm:pt-48">hi</div>
        <footer class="absolute w-screen bg-red-600 text-white text-center"><a href="mail:info@namla.sa">info@namla.sa</a> | <a href="https://github.com/yzdgit">github</a></footer>
    </body>
</html>
